@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/pink.css";

.todoItem {
  border-bottom: 1px solid #ededed;
  position: relative;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.todoItem:last-child {
  border-bottom: none;
}

.completed .todoLabel {
  color: #d9d9d9;
  text-decoration: line-through;
}

.todoView {
  display: flex;
  align-items: center;
  width: 100%;
}

.todoLabel {
  font-size: 24px;
}

.checkboxRoot {
  all: unset;
  background: white;
  border: 1px solid #ededed;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.checkboxRoot[data-state="checked"] {
  border-color: #beccc6;
}

.checkboxIndicator {
  padding-top: 7px;
  color: #2ECC71;
  fill: none;
}
